@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Rooboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.2;
    font-size: 1.6rem;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 15px 0;
}

.header .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-row .menu {
    margin-left: auto;
}

.header .header-row .menu ul {
    display: flex;
}

.header .header-row .menu ul a {
    display: block;
    padding: 0 20px;
    font-weight: 700;
}

.header .header-row .overlay {
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity .3s ease;
    visibility: hidden;
}

.header .header-row .contact .btn {
    background-color: #88B6E7;
    padding: 10px 30px;
    border-radius: 99px;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}

.header .header-row .menu-mobile {
    display: none;
}

@media screen and (max-width: 991.98px) {
    .container {
        padding: 0 15px;
    }

    .header .header-row .menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        min-width: 250px;
        background-color: black;
        translate: -100%;
        transition: translate .4s ease;
        z-index: 1;
    }

    .header .header-row input[type="checkbox"]:checked+.menu {
        translate: 0;
    }

    .header .header-row input[type="checkbox"]:checked~.overlay {
        opacity: 1;
        visibility: visible;
    }

    .header .header-row .menu ul {
        display: block;
        padding: 20px 0;
    }

    .header .header-row .menu ul li a {
        display: block;
        padding: 20px;
        font-weight: 500;
        color: #fff;
    }

    .header .header-row .contact {
        margin-left: auto;
        margin-right: 20px;
    }

    .header .header-row .menu-mobile {
        display: block;
        font-size: 2.6rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 767.98px) {
    .header .header-row .contact {
        display: none;
    }
}