* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background: url("https://cdn.houseviet.vn/images/project/23042023/ha-noi-melody-residences-cover.jpg");
    background-size: cover;
    background-repeat: none;
    height: 450px;
    position: relative;
    font-family: Asap;
}
.content {
    background: #ffffffce;
    padding: 30px 50px;
    width: 40%;
    position: absolute;
    top: 120px;
    left: 15%;
    border-radius: 4px;
    color: #3f3424;
    line-height: 1.5rem;
}
h2 {
    color: #bf4240;
    margin-bottom: 15px;
}
.bao-gia {
    font-weight: 600;
    color: #fff;
    background: #dd5e55;
    padding: 15px 20px;
    border-radius: 4px;
    position: absolute;
    bottom: -30px;
    right: 40px;
}
.place {
    display: flex;
    align-items: center;
}
address {
    margin-left: 10px;
    font-style: normal;
}