body {
  margin: 0;
  font-family: "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.menu-area {
  padding: 20px 20px;
  border: 1px solid blue;
}

.menu-list li {
  list-style-type: none;
}

.menu-list li a {
  text-decoration: none;
  cursor: pointer;
}

.logo-area {
  text-align: center;
  padding: 20px 0px;
}

.menu-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 20px 0px;
}

a {
  color: var(--mau-chu-dao);
}

a:hover {
  color: #F55556;
}

.search-area {
  padding: 20px;
  border: 1px solid red;
  background: red;
}

.fa-search {
  padding: 0px 15px;
}

.fa-cart-plus {
  padding: 0px 15px;
}

.input-search {
  height: 35px;
}

:root {
  --mau-chu-dao: #333;
  --color: #000;
  --color2: #2E2E2E;
  --color3: #676767;
  --color4: #4D4D4D;
  --bg: #fff;
  --bg2: #FEF5F5;
  --bg3: #F86061;
}

.home-img-1 {
  width: 100%;
}

.home-screen-left {
  align-content: center;
  border: 1px solid red;
  padding-left: 50px;
}
.home-screen-left div.home-tag-1 {
  display: flex;
  gap: 10px;
  width: fit-content;
  align-items: center;
  padding: 12px 16px;
  background: #FDECEC;
  border-radius: 999px;
  font-weight: 700;
  color: #F55556;
  margin-bottom: 80px;
  font-family: "Poppins", sans-serif;
}
.home-screen-left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.01em;
  color: var(--color2);
}
.home-screen-left h1 span.head-red {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.05em;
  color: #F54748;
}
.home-screen-left .head-des {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: var(--color3);
  max-width: 80%;
  margin: 22px 0;
}
.home-screen-left .head-button {
  margin: 50px 0px 10px 0px;
}
.home-screen-left .head-button .order-now-btn {
  background: var(--bg3);
  border-radius: 12px;
  width: 186px;
  padding: 25px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFAFA !important;
  display: block;
  border: 1px solid transparent;
}
.home-screen-left .head-button .order-process-btn {
  display: flex;
  width: 224px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: -0.01em;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color2);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: none;
  border: none;
  transition: 0.2s all ease;
  margin-left: 0 !important;
}

.phan-2-wrapper {
  background: var(--bg2);
  border: 1px solid rgb(59, 255, 5);
  width: 100%;
}
.phan-2-wrapper .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(27, 34, 231);
}
.phan-2-wrapper .container .phan-2-heading {
  text-align: center;
}
.phan-2-wrapper .container .phan-2-heading .phan-2-heading-tilte5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #F54748;
  margin: 0 0 8px 0;
}
.phan-2-wrapper .container .phan-2-heading .phan-2-heading-tilte2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 50%;
  margin: 0 auto;
}
.phan-2-wrapper .row {
  display: flex;
}

/*# sourceMappingURL=bai-1.css.map */
